/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a865bc3b;
}

/* Línea lateral morada clara */
.container {
    max-width: 1200px; /* Limita el ancho del contenedor para centrado */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    padding: 0 20px; /* Añade espacio interno para evitar tocar los bordes del contenedor */
    border-left: 5px solid #2d025b; /* Línea izquierda más ancha */
    border-right: 5px solid #2b0158; /* Línea derecha más ancha */
}
#title {
    text-align: center;  
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #660080; 
    margin-bottom: 20px;
}

canvas {
    border: 1px solid #43076e; /* Borde gris claro */
    display: block;
    margin: 20px auto;
    border-radius: 8px; /* Bordes redondeados ligeros */
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
}

#selectedName {
    text-align: center;
    font-weight: bold;
    font-size: 18px; /* Tamaño de fuente más grande */
    color: blue; /* Color azul */
    border-top: 1px solid #ddd; /* Borde superior */
    border-bottom: 1px solid #ddd; /* Borde inferior */
    padding: 10px 0; /* Espaciado dentro del borde */
}

.wheel-container {
    position: relative;
    display: inline-block;
    border-radius: 8px; /* Redondeo de los bordes */
}

.side-indicator {
    position: absolute;
    top: 50%;
    right: -30px; /* Ajusta la distancia del triángulo respecto al canvas */
    transform: translateY(-50%) rotate(180deg); /* Triángulo al revés */
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 40px solid rgb(69, 14, 135); /* Triángulo negro */
}

/* Agrega estilos para el contenedor general */
.container {
    top: 0;
    border-left: 40px solid #7f2fd5;
    border-right: 40px solid #7f2fd5;
    display: flex;
    flex-direction: column; /* Para centrar verticalmente los elementos dentro del contenedor */
    align-items: center;
    min-height: 100vh; /* Asegura que las líneas cubren toda la altura de la página */
}


body.dark {
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
}

body.dark .wheel-container {
    background-color: #1e1e1e; /* Fondo oscuro del contenedor de la rueda */
}

button.dark {
    background-color: #333; /* Fondo oscuro para botones */
    color: #fff; /* Texto claro en botones */
}

.side-indicator {
    border-left: 40px solid #6617aa; /* Triángulo blanco en modo oscuro */
}

#toggle-mode {
    background-color: #555; /* Botón con fondo oscuro */
    color: #fff; /* Texto blanco en botón */
}
